/**
 * User: scottfleming
 * Date: 2/11/19
 * 
 */

.listeners-container ul{
    list-style: none;
}

#wb_MediaPlayer1{
    width: 80%;
    margin: 0 auto;
}

audio { width: 100% }

.jp-audio-stream{
    width: 600px;
}

.jp-details .nowplaying {
    padding: 8px;
    min-height: 150px;
}

.jp-details .nowplaying .thumb-container{
    margin: 0 auto;
    width: 35%;

}

.jp-details,
.jp-playlist {
    width: 100%;
    /* background-color: #e0e0e0; */
}



@media screen and (max-width: 500px) {

    .jp-audio-stream{
        width: 100%;
    }

    /* jplayer */
    .jp-video video, .jp-audio, .jp-controls-holder, .jp-audio-stream{
        width: 100% !important;
        font-size: 20px !important;
    }

    .nowplaying-title{
        font-size: 18px;
        color: white;
    }

    .jp-video, .jp-video > div, .jp-video img {
        height: auto !important;
        width: 100% !important;
    }

    .jp-video-360p {
        max-width: 570px !important;
    }

    .jp-video-270p {
        max-width: 480px !important;
    }

    .jp-progress {
        width: 130px;
    }
}