/* ---- FONTS ------ */
@font-face {
  font-family: 'CheyenneSans-Regular';
  src: url("/fonts/CheyenneSans-Regular.svg#CheyenneSans-Regular") format("svg"), url("/fonts/CheyenneSans-Regular.ttf") format("truetype"), url("/fontsCheyenneSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hinted-CheyenneSans-Regular';
  src: url("/fonts/hinted-CheyenneSans-Regular.eot");
  src: url("/fonts/hinted-CheyenneSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/hinted-CheyenneSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CheyenneSans-Bold';
  src: url("/fonts/CheyenneSans-Bold.svg#CheyenneSans-Bold") format("svg"), url("/fonts/CheyenneSans-Bold.ttf") format("truetype"), url("/fonts/CheyenneSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hinted-CheyenneSans-Bold';
  src: url("/fonts/hinted-CheyenneSans-Bold.eot");
  src: url("/fonts/hinted-CheyenneSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/hinted-CheyenneSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
.stream-details .current-song-container {
  min-height: 200px;
  font-size: 21px; }
.stream-details .history {
  color: #006735; }
.stream-details .nowplaying {
  background-color: #d5e6f9;
  font-size: 21px;
  padding: 8px;
  min-height: 200px; }
.stream-details .nowplaying-title {
  background-color: #494a4c;
  color: #fcff19;
  text-align: center;
  line-height: 20px;
  padding: 6px 0; }
.stream-details .song-album-yr {
  margin: 10px 0; }
.stream-details .artist-name {
  font: 23px/26px 'CheyenneSans-Bold'; }
.stream-details .song-title {
  font-style: italic;
  margin: 8px 0; }
.stream-details .artist-name::after {
  clear: both; }
.stream-details .thumb-container {
  float: left; }
  .stream-details .thumb-container img {
    height: 200px; }

.stream-details {
  width: 100%; }
  .stream-details .nowplaying .thumb-container {
    margin: 0 40px 0 0;
    width: auto; }

.stream-details {
  font-weight: normal;
  text-align: left;
  cursor: default;
  padding-bottom: 30px; }

.members {
  margin: 20px 0; }
  .members .memberHeader {
    font: 18px/22px "CheyenneSans-Bold"; }
  .members .memberline {
    margin: 4px; }

.summary {
  margin: 20px 0 0 0;
  font: 16px/18px "CheyenneSans-Regular"; }

body {
  font-family: 'CheyenneSans-Regular';
  margin-top: 20px; }

.listeners-container ul {
  list-style: none; }

#wb_MediaPlayer1 {
  width: 90%;
  margin: 0 auto; }

audio {
  width: 100%; }

.statistics {
  margin: 8px 8px 0 8px;
  background-color: #2164f3;
  color: #ffffff;
  padding: 4px;
  letter-spacing: 1px; }

.listeners, .nerdystats, .jp-details .history, .uptime {
  font-size: 14px;
  line-height: 16px;
  padding: 4px; }

.extract {
  font-size: 14px;
  padding: 0 8px; }

h3 {
  color: navy; }

#history {
  margin-left: 10px; }
  #history .listing {
    font-size: 16px;
    line-height: 18px; }

.stream-details .app-title {
  margin: 0;
  padding: 5px;
  font: 22px/26px "CheyenneSans-Bold";
  text-align: center; }
.stream-details .app-motd {
  text-align: center;
  color: darkred; }

@media only screen and (max-width: 768px) {
  body {
    margin-top: 2px; }

  #wb_MediaPlayer1 {
    width: 100%; }

  .stream-details .nowplaying {
    padding: 4px; }
    .stream-details .nowplaying .current-song-container, .stream-details .nowplaying .song-title, .stream-details .nowplaying .song-duration {
      font: 16px/22px "CheyenneSans-Regular"; }
    .stream-details .nowplaying .thumb-container {
      margin: 0 15px 0 0; }
      .stream-details .nowplaying .thumb-container img {
        height: 200px; }
    .stream-details .nowplaying .song-album-yr {
      margin-top: 10px;
      text-align: left; }
  .stream-details .song-title::before {
    content: ""; }
  .stream-details .artist-name {
    font-size: 22px; }
    .stream-details .artist-name ::after {
      content: ""; }
  .stream-details .genre, .stream-details .song-duration {
    clear: right;
    color: #5a5555; } }
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 480px) {
  img {
    height: 80px !important; }

  .current-song-container, .song-title, .song-duration {
    font: 14px/18px "CheyenneSans-Regular" !important; }

  .stream-details .current-song-container, .stream-details .nowplaying {
    min-height: 100px; } }
@media only screen and (max-width: 768px) {
  .app-title {
    font-size: 20px !important; }

  .listing {
    font-size: 12px !important; } }
/* Modal Style */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 500px; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

.chatLink {
  margin-top: 4px;
  padding: 8px; }
  .chatLink a {
    color: red;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
