.members{
  margin: 20px 0;

  .memberHeader{
    font: 18px/22px "CheyenneSans-Bold";
  }

  .memberline{
    margin: 4px;
  }
}

.summary {
  margin: 20px 0 0 0;
  font: 16px/18px "CheyenneSans-Regular";

}